body {
  background-color: #e0e0e0;
}

.wrapper {

  padding: 40px;
  max-width: 800px;
  
}

.text-section {
  margin-bottom: 30px;
 
}



.flex-container {
  display: flex;
  
}


.flex-column {
  flex: 1; 
  display: flex;
}


.flex-column.stacked {
  flex-direction: column; 
}


.content {
  background-color: #6495ed;
  border-radius: 2px;
  margin:5px;
}

.flex-column.stacked .content {
  height: 175px; 
}

.content.large {
  flex-grow: 1; 
}