h1{
    color:blueviolet;
    background-color: brown;    
}
.bookmark-box{
    display: inline-block;
    padding: 20px;
    background-color: yellow;
    margin-left: 5px;
    
}

img{
    width:150px;
    height: 150px;
}