.image-container{
    position:relative;
    display: inline-block;
    
    max-width: 600px;
}
.image-container img {
    width: 100%;
    display: block;
}
.transparent-title{
    
    position: absolute;
    top: 0;
    left: 0;
    width:60%;
    padding:15px;
    background-color: rgba(59, 89, 152, 0.6); 
    color: #333;
    font-family: sans-serif;
  
}

.background-title{
    position: absolute;
    padding: 15px;
    top: 50px;
    width:60%;
    background-color: aqua;


}