.box{
    padding: 25px;
    border: 2px solid black;

}
#first{
    background-color: aquamarine;
}
#second{
    background-color: bisque;
}
.prompt{
    padding-top: 25px;
}
button{
    background-color: yellowgreen;
}
#container {
    background-color: #e0e0e0;     
    
    padding: 20px;                
    display: inline-block;        
    
}