<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Holy Grial Layout Demo</h1>
    </header>
    <main>
      <aside>
        <nav>
            <header>Navigation</header>
            <ul class="nav-links">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        
      </aside>
      <div class="content">
        <h2>Main Content</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          facilis debitis delectus sit ipsum? Eum soluta incidunt quaerat, quae
          tempora nemo, praesentium recusandae voluptas et, voluptates natus
          eius consequuntur. Nihil.
        </p>
      </div>
      <aside>
        <div><header>Sidebar</header></div>
        <div class="postit">
            <h1>News</h1>
            <div>Arsenal Won the Barcleys Premier League after 22 years</div>
        </div>
        <div class="postit">
            <h1>Things</h1>
            <div>My faviorite sports is football</div>
        </div>
      </aside>
      
    </main>
    <footer>
      <div class = "line">The footer should always stay at the bottom</div>
      <div class = "line">
        <div class = component>comp1</div>
        <div class = component>comp2</div>
        <div class = component>comp3</div>
      </div>
    </footer>
  </body>
</html>