#parent{
    position: relative;
    background-color: red;
    width: 550px;
    height: 550px;
    
}
    .child {
    position: absolute;
    width: 33.3333%;
    height: 33.33333%;
    }
#child1{
    right: 0px;
    background-color: blue;
}
#child2{
    background-color: green;
    
}
#child3{
    bottom: 0px;
    background-color: yellow;
}
#child4{
    bottom:0px;
    right: 0px;
    background-color: blueviolet;
}
#child5{
    top:33.3333%;
    left:33.3333%;
    background-color: white;
}