<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class = dropdowns>
        <div class = "left">
            <div class="dropdown">
                <div>Home</div>
                <div class="dropdown-content">
                    <ul>
                        <li>
                            Home Page
                        </li>
                        <li>
                            Home Profile
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dropdown">
                <div>Login</div>
                <div class="dropdown-content"><ul>
                        <li>
                            Login Page
                        </li>
                        <li>
                            Sign Up
                        </li>
                    </ul></div>
            </div>
            <div class="dropdown">
                <div>About</div>
                <div class="dropdown-content"><ul>
                        <li>
                            About you
                        </li>
                        <li>
                            Add information
                        </li>
                    </ul></div>
            </div>
        </div>
        <div class = "right">
            <div class="dropdown">
                <div>Crucial</div>
                <div class="dropdown-content"><ul>
                        <li>
                            Arsenal won the pl
                        </li>
                        <li>
                            Totenham finished b2b seasons 17th
                        </li>
                    </ul></div>
            </div>
        </div>

    </div>

    
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio et non
      accusantium harum a at hic ut recusandae voluptatibus perspiciatis? Sed
      officia adipisci ad voluptatibus doloribus, tenetur sit aperiam
      exercitationem.
    </p>
  </body>
</html>